{% extends "base_generic.html" %}

{% block content %}
  <h1>Mes empruntés</h1>

  {% if bookinstance_list %}
  <ul class="sidebar-nav">
    {% for bookinst in bookinstance_list %}
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a> ({{ bookinst.due_back }})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Vous n'avez pas de livres empruntés.</p>
  {% endif %}
{% endblock %}